.contactame{
  text-align: center;
}
.contactame__texto{
  width: 70%;
  margin: 0 auto;
  color: var(--accent-ligth);
}
@media screen and (max-width:767px) {
  .contactame__texto{
    width: 90%;
  }
}
.contactame__texto span{
  color: var(--accent-main);
}
.formulario{
    width: 50vw;
    margin: 1rem auto;
    border: 1px solid var(--accent-ligth);
    box-shadow: 0px 0px 2px 2px rgba(123, 184, 209, 0.308);
    border-radius: 1rem;
    height: max-content;
}
@media screen and (max-width:768px) {
  .formulario{
    width: 80vw;
  }
}
.formulario__legend{
    font-size: 3rem;
    color: var(--accent-secondary);
    margin:2rem;
    font-weight: 500;
    letter-spacing: 1rem;
}
@media screen and (max-width:991px) {
  .formulario__legend{
    font-size:2.6rem;
  }
}
@media screen and (max-width:767px) {
  .formulario__legend{
    font-size:2.1rem;
  }
}

.campo{
    width: 90%;
    margin: 1rem auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     
}
.input-label{
    font-size:2rem;
    color: var(--clear-white);
    background-color: var(--color-page-header-bg);
    font-weight: 700;
    width: min-content;
    visibility: hidden;
    position: absolute;
    top: 1.375rem;
    left: 0.7rem;  
    transition: all 0.2s;
    letter-spacing: 0.15rem;
}
.input{
    border:none;
    width: 100%;
    font-size: 2rem;
    border-radius: 1rem;
    height:5.9rem ;
    font-weight: 500;
    color: var(--clear-white);
    background-color: var(--color-page-header-bg);
    padding: 0.5rem;
    margin: 2rem;
}
@media screen and (max-width:991px) {
  .input-label,.input{
    font-size:1.7rem;
  }
}
@media screen and (max-width:767px) {
  .input-label,.input{
    font-size:1.6rem;
  }
}
.input::placeholder {
    color: var(--clear-white);
    transition: all 0.1s;
    font-weight: 700;
  }

.input:focus{
    outline:0 none;
    border:2px solid var(--accent-main);
    color:var(--clear-white);
}
.input:focus::placeholder{
    visibility: hidden;
    transition: all 0.1s;
}
.textarea{
    border: none;
    width: 100%;
    font-size: 2rem;
    height: 20rem;
    resize: none;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 2rem;
    border-top-left-radius: 0;
    color: var(--clear-white);
    background-color: var(--color-page-header-bg);
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.textarea::placeholder{
  color: var(--clear-white);
}
@media screen and (max-width:991px) {
  .textarea{
    font-size:1.7rem;
  }
}
@media screen and (max-width:767px) {
  .textarea{
    font-size:1.6rem;
  }
}

.textarea:focus{
    outline:0 none;
    border:2px solid var(--accent-main);
    color: var(--clear-white);
    border-top-left-radius: 0;
} 

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 1.8rem;
  top: 0.25rem;
  transition: all 0.2s;
  visibility:visible;
}
.textarea-label{
    font-size:2rem;
    color: var(--clear-white);
    background-color: #0d1117;
    font-weight: 700;
    width: min-content;
    visibility: hidden;
    position: absolute;
    transition: all 0.2s;
    border: none;
    padding:0 1rem;
    letter-spacing: 0.15rem;
}
.textarea:focus::placeholder{
    visibility: hidden;
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
  font-size: 2rem;
  top:0.25rem;
  transition: all 0.2s;
  visibility:visible;
}
.textarea:focus + .textarea-label{
  border: 2px solid var(--accent-main);
  border-bottom: none;
}
/*validacion*/
.input-message-error {
    display: none;
    font-weight: 500;
  }
  .input-container--invalid {
    margin-bottom: 0.5rem;
  }
  .input-container--invalid .input,.input-container--invalid .textarea {
    border: 1px solid var(--warning-color);
    border-radius: 7px;
  }
  .input-container--invalid .input::placeholder,.input-container--invalid .textarea::placeholder{
    color: var(--warning-color);
  }
  .input-container--invalid .input-label,.input-container--invalid .textarea-label {
    color: var(--warning-color);
  }
  .input-container--invalid .textarea:focus + .textarea-label{
    border: 1px solid var(--warning-color);
    border-bottom: none;
  }
  .input-container--invalid .input-message-error {
    color: var(--warning-color);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }
  .contenedor-btn{
    width: 90%;
    margin: 1rem auto;
  }
  .enviar:hover,.enviar:hover svg{
    background-color: var(--accent-secondary);
    color: white;
    fill:white;
    

  }
   /* {
    border: 1px solid var(--warning-color);
  } */
  /* .input-container--invalid .textarea-label {
    color: var(--warning-color);
  } */