.hobbies{
    width: 50vw;
    margin: 1rem auto;

}
.hobbies__titulo{
    color: var(--accent-secondary);
}
.hobbies__categoria{
    margin-top:2rem;
    display: flex;
    justify-content:space-between;
}
.hobbie__card{
    display: flex;
    width:33%;
    height: 20vh;
    padding:0.5rem 1rem;
    align-items: center;
    border-radius: 1rem;
    margin-right: 2rem;
    justify-content: center;
    background-color: var(--color-page-header-bg);
    gap:2rem;
}
.hobbie__card:hover{
    filter: brightness(120%);
}