.presentacion{
    width: 90vw;
    display: flex;
    margin: 1rem auto;
    align-items:center;
    height: 85vh;
    overflow: hidden;
}
@media screen and (max-width:768px){
    .presentacion{
        height: auto;
        flex-wrap: wrap-reverse;
    }
}

.presentacion__ocupacion{
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--accent-main);
    font-size: 3.5rem;
}
@media screen and (max-width:767px) {
    .presentacion__ocupacion{
        margin-top: 2rem;
        font-size: 2.2rem;
        text-align: center;
    }
}
.enlaces-perfil{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}
@media screen and (max-width:767px) {
    .enlaces-perfil{
        flex-direction: column;
        justify-content: center;
    }
}
.enlaces-perfil__item{
    padding: 1rem;
    margin-right: 1rem;
    color: var(--accent-ligth);
    transition: all 0.5s ease-out;
    text-decoration:underline;
    transition: all 0.3s ease-in;
}
.enlaces-perfil__item:hover a, .enlaces-perfil__item:hover{
    color: var(--clear-white);
    text-decoration: none;
    transform: scale(1.1);

}

.enlace-descarga-cv{
    width:max-content;
    text-align: center;
    margin: 0 auto;
}
.enlace-cv-elemento{
    display: flex;
    gap:1rem;
    color: var(--dark-main);
    font-weight: 400;
    background-color:var(--accent-ligth);
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 700;
    box-shadow: 5px 5px #7bb8d180;
    margin-bottom: 1rem;
}
.enlace-cv-elemento:hover{
    filter: brightness(120%);
}

.presentacion__textos{
    width:65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}
@media screen and (max-width:768px) {
    .presentacion__textos{
        width: 80%;
    }
}

.presentacion__descripcion{
    color: var(--clear-white);
    text-align: justify;
}
@media screen and (max-width:768px) {
    .presentacion__descripcion{
        text-align: center;
    }
}
.presentacion__imagen{
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px var(--accent-ligth);
    display: flex;
    justify-content: center;
    align-items: center; 
}

@media screen and (max-width:992px) {
    .presentacion__imagen{
        width: 20rem;
        height: 20rem;
    }
}
@media screen and (max-width:768px) {
    .presentacion__imagen{
        width: 15rem;
        height: 15rem;
    }
}
