.proyectos-contenedor{
    width: 80vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.proyectos__titulo{
    text-align: center;
    color: var(--accent-secondary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: 1rem;
}
.proyecto-contenedor{
    margin: 0 auto;
    width: 90%;
    max-height: 60vh;
    height: auto;
    display: flex;
    border: 1px solid var(--accent-main);
    box-shadow: 2px 2px 2px 1px rgba(247, 129, 102, 0.308);
    border-radius: 1rem;
    gap: 1rem;
    padding: 3rem;
    overflow: hidden;
    box-sizing: content-box;
}
@media screen and (max-width:991px) {
    .proyecto-contenedor{
        max-height:100vh ;
    }
    
}
@media screen and (max-width:767px) {
    .proyecto-contenedor{
        flex-direction: column;
        max-height:none;
        height: auto;
        gap: 2rem;
        padding: 1rem;
    }
}

.proyecto__imagen{ 
    margin: auto;
    object-fit:contain;
}
.proyecto__contenedor__imagen{
    width: 35%;
    display: flex;
    align-items: center;
}


@media screen and (max-width:767px) {

    .proyecto__imagen{
        height: 90%;
        margin-bottom: 2rem;
        
    }
    .proyecto__contenedor__imagen{
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .imagen__bienesraices{
        margin: 0 auto;
        text-align: center;
        height: 90%;
        width: 80%;

    }

}

.proyecto__descripcion{
    width: 65%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap:1rem
}
@media screen and (max-width:767px) {
    .proyecto__descripcion{
        height:auto;
        width: 90%;
    }
}
.proyecto__nombre{
    color: var(--accent-ligth);
    font-weight: 350;
}
.proyecto__tecnologias{
    display: flex;
    gap:1rem;
    align-items: center;
}

.proyecto__enlaces{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width:767px) {
    .proyecto__enlaces{
        gap:0.7rem;
    }
}
.proyecto__deploy{
    background-color:var(--accent-ligth) ;
}
.proyecto__deploy a{
    color: var(--dark-main);
}
.proyecto__deploy:hover{
    filter: brightness(120%);
    /* background-color:lighten(var(--accent-ligth),10%) ; */
}
.proyecto__repositorio{
    background-color: var(--accent-secondary);
}
.proyecto__repositorio:hover{
    filter: brightness(120%);
}
.proyecto__repositorio a{
    color: var(--dark-main);
}
.proyectos__recientes{
    color: var(--clear-white);
    margin-bottom: 2rem;
}

.ver-mas{
    color: var(--accent-main);
    text-align:center;
    margin: 0 auto;
    display: inline-block;
    font-size: 1.9rem;
}
.ver-mas:hover{
    filter: brightness(110%);
}

.go-back{
    text-align: center;
    
}
/* .proyecto__texto{
    overflow: scroll;
}
@media screen and (max-width:767) {
    .proyecto__texto{
        overflow: unset;
    }
} */